body {
    background-color: lightblue;
}

button {
    background-color: violet;
    color: blue;
    padding: 12px;
    font-style: bold;
    font-family: "Courier New", Courier, monospace;
}

button:hover {
    background-color: blue;
    color: violet;
}


